link(rel="import" href="/bower_components/polymer/polymer.html")
link(rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html")
link(rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import" href="/bower_components/iron-form/iron-form.html")
link(rel="import" href="/bower_components/paper-button/paper-button.html")
link(rel="import" href="/bower_components/paper-fab/paper-fab.html")
link(rel="import" href="/bower_components/paper-input/paper-input.html")
link(rel="import" href="/bower_components/paper-dialog/paper-dialog.html")
link(rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html")
link(rel="import" href="/bower_components/paper-menu/paper-menu.html")
link(rel="import" href="/bower_components/paper-item/paper-item.html")
link(rel="import", href="/bower_components/paper-spinner/paper-spinner.html")
link(rel="import", href="/bower_components/iron-icon/iron-icon.html")
link(rel="import", href="/bower_components/iron-icons/iron-icons.html")
link(rel="import", href="/bower_components/iron-pages/iron-pages.html")
link(rel="import", href="/bower_components/paper-styles/typography.html")
link(rel="import", href="/bower_components/paper-tabs/paper-tab.html")
link(rel="import", href="/bower_components/paper-tabs/paper-tabs.html")
link(rel="import", href="/bower_components/iron-data-table/iron-data-table.html")

link(rel="import", href="/src/bjs-app-db/bjs-app-db-query.html")
link(rel="import", href="/src/bjs-app/bjs-behaviors.html")

link(rel="import", href="/src/views/behaviors/bjs-view-behaviors.html")
link(rel="import", href="/src/views/activities/bjs-activity-table-listing.html")
link(rel="import", href="/src/views/trackings/bjs-tracking-table-listing.html")

link(rel="import", href="/src/shared-styles.html")

dom-module#bjs-tracking-detail
  template
    style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment")
    style(include="shared-styles").
      :host {
        --paper-tab-ink: var(--paper-menu-color);

        --paper-tabs-selection-bar-color: var(--paper-menu-color);
      }

      .label {
        font-weight: bold;
        margin-right: 10px;
      }

    bjs-app-db-query(
      log-label="tracking-detail-user",
      db="[[db]]",
      doc="[[db.user]]",
      query="[[__trackingUserQuery]]",
      find-one="{{__trackingUser}}",
      limit="0"
    )
    bjs-app-db-query(
      log-label="tracking-detail-app",
      db="[[db]]",
      doc="[[db.app]]",
      query="[[__trackingAppQuery]]",
      find-one="{{__trackingApp}}",
      limit="0"
    )

    .card
      .layout.vertical
        .layout.horizontal
          div.flex
            h2 [[item.type]]
          div.flex.text-right
            h2 [[itemTimestampFormatted]]
        .layout.horizontal
          p [[item.name]]

    .card
      paper-tabs(
        selected="{{trackingView}}",
        attr-for-selected="name",
        scrollable,
        fit-container
      )
        paper-tab(name="overview") Breakdown
        paper-tab(name="appTracking") Last App Tracking
        paper-tab(name="appActivity") Last App Activity
        paper-tab(name="userTracking") Last User Tracking
        paper-tab(name="userActivity") Last User Activity

    iron-pages(
      selected="[[trackingView]]"
      attr-for-selected="name"
    )
      div(name="overview")
        .card
          .layout.horizontal
            .flex
              .layout.horizontal
                p.label Date
                p.flex [[itemTimestampFormatted]]
            .flex
              .layout.horizontal
                p.label User
                p.flex [[__trackingUser.person.formalName]]
            .flex
              .layout.horizontal
                p.label App
                p.flex [[__trackingApp.name]]

          template(is="dom-if" if="[[isInteraction]]")
            h3 Message
            pre.code [[jsonStringify(item.interaction)]]

          template(is="dom-if" if="[[isError]]")
            h3 Stack
            pre.code [[jsonStringify(item.error)]]

          template(is="dom-if" if="[[isLogging]]")
            h3 Message
            pre.code [[jsonStringify(item.logging)]]

          h3 Environment
          pre.code [[jsonStringify(item.environment)]]

          h3 JSON Object
          pre.code [[jsonStringify(item)]]

      div(name="appTracking")
        bjs-tracking-table-listing(
          db="[[db]]",
          name="tracking-detail-app",
          base-query="[[__appTrackingQuery]]"
        )

      div(name="appActivity")
        bjs-activity-table-listing(
          db="[[db]]",
          name="activity-detail-app",
          base-query="[[__appActivityQuery]]"
        )

      div(name="userTracking")
        bjs-tracking-table-listing(
          db="[[db]]",
          name="tracking-detail-user",
          base-query="[[__userTrackingQuery]]"
        )

      div(name="userActivity")
        bjs-activity-table-listing(
          db="[[db]]",
          name="activity-detail-user",
          base-query="[[__userActivityQuery]]"
        )
      

  script(src="bjs-tracking-detail.js")
