link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/iron-ajax/iron-ajax.html")
link(rel="import", href="/bower_components/app-storage/app-indexeddb-mirror/app-indexeddb-mirror.html")
link(rel="import", href="../c4c-app/c4c-behaviors.html")

dom-module#c4c-data-service
  template
    style.
      :host {
        display: none;
      }

    iron-ajax#orgsService(
      url="[[orgsBaseUrl]]",
      handleAs="json",
      last-response="{{liveOrgsData}}"
    )
    iron-ajax#orgsAddService(
      url="[[orgsBaseUrl]]",
      method="POST",
      content-type="application/x-www-form-urlencoded",
      handleAs="json",
      last-response="{{addResponse}}"
    )
    iron-ajax#orgsPutService(
      url="[[orgBaseUrl]]",
      method="PUT",
      content-type="application/x-www-form-urlencoded",
      handleAs="json",
      last-response="{{updateResponse}}"
    )
    iron-ajax#orgsRmService(
      url="[[orgBaseUrl]]",
      method="DELETE",
      handleAs="json",
      last-response="{{rmResponse}}"
    )

    //- When bower_components is removed, or overwritten
    //- Need to use the adjusted version that forces the workerUrl
    //- if (!this.workerUrl) {
    //-   this.workerUrl = this.resolveUrl('./app-indexeddb-mirror-worker.js');
    //- }
    app-indexeddb-mirror(
      key="orgs",
      data="{{liveOrgsData}}",
      persisted-data="{{orgs}}"
      )

  script(src="c4c-data-service.js")
