link(rel="import" href="/bower_components/polymer/polymer.html")
link(rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html")
link(rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import" href="/bower_components/iron-form/iron-form.html")
link(rel="import" href="/bower_components/paper-button/paper-button.html")
link(rel="import" href="/bower_components/paper-fab/paper-fab.html")
link(rel="import" href="/bower_components/paper-input/paper-input.html")
link(rel="import" href="/bower_components/paper-dialog/paper-dialog.html")
link(rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html")
link(rel="import" href="/bower_components/paper-menu/paper-menu.html")
link(rel="import" href="/bower_components/paper-item/paper-item.html")
link(rel="import", href="/bower_components/paper-spinner/paper-spinner.html")
link(rel="import", href="/bower_components/iron-icon/iron-icon.html")
link(rel="import", href="/bower_components/iron-icons/iron-icons.html")
link(rel="import", href="/bower_components/iron-pages/iron-pages.html")
link(rel="import", href="/bower_components/paper-styles/typography.html")
link(rel="import", href="/bower_components/paper-tabs/paper-tab.html")
link(rel="import", href="/bower_components/paper-tabs/paper-tabs.html")
link(rel="import", href="/bower_components/iron-data-table/iron-data-table.html")

link(rel="import", href="/src/bjs-app-db/bjs-app-db-query.html")
link(rel="import", href="/src/bjs-app/bjs-behaviors.html")

link(rel="import", href="/src/views/behaviors/bjs-view-behaviors.html")
link(rel="import", href="/src/views/activities/bjs-activity-table-listing.html")
link(rel="import", href="/src/views/trackings/bjs-tracking-table-listing.html")

link(rel="import", href="/src/shared-styles.html")

dom-module#bjs-user-detail
  template
    style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment")
    style(include="shared-styles").
      :host {
        --paper-tab-ink: var(--paper-menu-color);

        --paper-tabs-selection-bar-color: var(--paper-menu-color);
      }

      .card-bg {
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        min-height: 300px;
      }
      .content{ 
        position: relative;
      }

      .label {
        font-weight: bold;
        margin-right: 10px;
      }

    bjs-app-db-query(
      log-label="tracking-detail-app",
      db="[[db]]",
      doc="[[db.app]]",
      query="[[__trackingAppQuery]]",
      find-one="{{__trackingApp}}",
      limit="0"
    )

    //- iron-image.card-bg(sizing="cover", src="[[__firstAuth.images.banner]]")
    .content
      .card
        .layout.vertical
          .layout.horizontal
            div
              iron-image.circle(src="[[__firstAuth.images.profile]]", sizing="contain")
            div.flex
              .layout.vertical
                h2 [[item.person.formalName]]
                p [[__firstAuth.email]]

      .card
        paper-tabs(
          selected="{{trackingView}}",
          attr-for-selected="name",
          scrollable,
          fit-container
        )
          paper-tab(name="overview") Breakdown
          paper-tab(name="userTracking") Last Tracking
          paper-tab(name="userActivity") Last DB Activity

      iron-pages(
        selected="[[trackingView]]"
        attr-for-selected="name"
      )
        div(name="overview")
          .card
            .layout.horizontal
              .flex
                .layout.horizontal
                  p.label Date
                  p.flex [[itemTimestampFormatted]]
              .flex
                .layout.horizontal
                  p.label User
                  p.flex [[__trackingUser.person.formalName]]
              .flex
                .layout.horizontal
                  p.label App
                  p.flex [[__trackingApp.name]]

            h3 Auth
            pre.code [[jsonStringify(item.auth)]]

            h3 Person
            pre.code [[jsonStringify(item.person)]]

            h3 JSON Object
            pre.code [[jsonStringify(item)]]

        div(name="userTracking")
          bjs-tracking-table-listing(
            db="{{db}}",
            name="user-detail",
            base-query="[[__userTrackingQuery]]"
          )

        div(name="userActivity")
          bjs-activity-table-listing(
            db="[[db]]",
            name="user-detail",
            base-query="[[__userActivityQuery]]"
          )
      

  script(src="bjs-user-detail.js")
