link(rel="import" href="/bower_components/polymer/polymer.html")
link(rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html")
link(rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import" href="/bower_components/iron-form/iron-form.html")
link(rel="import" href="/bower_components/paper-button/paper-button.html")
link(rel="import" href="/bower_components/paper-fab/paper-fab.html")
link(rel="import" href="/bower_components/paper-input/paper-input.html")
link(rel="import" href="/bower_components/paper-dialog/paper-dialog.html")
link(rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html")
link(rel="import" href="/bower_components/paper-menu/paper-menu.html")
link(rel="import" href="/bower_components/paper-item/paper-item.html")
link(rel="import" href="/bower_components/paper-spinner/paper-spinner.html")
link(rel="import" href="/bower_components/iron-icon/iron-icon.html")
link(rel="import" href="/bower_components/iron-icons/iron-icons.html")
link(rel="import" href="/bower_components/iron-pages/iron-pages.html")
link(rel="import" href="../c4c-view-behaviors.html")
link(rel="import" href="../../shared-styles.html")

dom-module#c4c-org-dialog
  template
    style(include="shared-styles").
      :host{

      }

    paper-dialog#dialog(on-iron-overlay-closed="__dialogClosed")
      h2 {{title}}
      form#form(
        is="iron-form",
        on-change="__formChanged"
        on-iron-form-presubmit="__formPresubmit"
      )
        paper-input(name="name", label="Name", value="{{__edit.name}}", required, auto-validate)
        paper-dropdown-menu(name="type", label="Type", required, auto-validate)
          paper-menu.dropdown-content(attr-for-selected="label", selected="{{__edit.type}}")
            paper-item(label="company") Company
            paper-item(label="charity") Charity
            paper-item(label="education") Education
            paper-item(label="political") Political
        paper-input(name="website", label="Website", value="{{__edit.website}}", required, auto-validate)
        .buttons
          paper-button(dialog-dismiss) Cancel
          paper-button#submit(autofocus, on-click="__formBeginSubmit") {{submitTitle}}
        .output

  script(src="c4c-org-dialog.js")

dom-module#c4c-orgs
  template
    style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment")
    style(include="shared-styles").
      :host {
        display: block;

        padding: 10px;
      }

      paper-fab {
        position: absolute;
        bottom: 30px;
        right: 30px;
      }

    iron-pages(
        selected='[[__viewMode]]',
        attr-for-selected='name',
        role='loading'
      )
      .layout.horizontal.center.center-justified.auth-container(name="spinner", style="height: 90vh;")
        paper-spinner(active, alt="Loading organisations data...", style="width: 64px; height: 64px;")
      div(name="list")
        template(is="dom-repeat", items="{{db.data}}")
          .card
            .layout.horizontal
              .circle {{index}}
              .layout.vertical
                h1 {{item.name}}
                a(href="{{item.website}}")
                  | {{item.website}}
              .flex
              .layout.vertical
                .layout.horizontal
                  .flex
                  paper-icon-button(icon="delete", on-click="__rmItem")
                paper-button(on-click="__updateItem") Details
        paper-fab#fab(icon="icons:add", on-click="__addItem")

    paper-dialog#rmItemDialog(on-iron-overlay-closed="__dialogClosed")
      h2 Delete Organisation
      p Are you sure? This is permanent!
      .buttons
        paper-button(dialog-dismiss) No
        paper-button#submit(dialog-confirm, autofocus, on-click="__rmItemConfirmed") Yes

    c4c-org-dialog#editItemDialog(
      item="{{__editItem}}",
      title="{{__dialogTitle}}",
      submit-title="{{__dialogSubmitTitle}}",
      open="{{__dialogOpen}}",
      on-dialog-closed="__dialogClosed")

  script(src="c4c-orgs.js")
