link(rel="import" href="/bower_components/polymer/polymer.html")
link(rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html")
link(rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import" href="/bower_components/iron-form/iron-form.html")
link(rel="import" href="/bower_components/paper-button/paper-button.html")
link(rel="import" href="/bower_components/paper-fab/paper-fab.html")
link(rel="import" href="/bower_components/paper-input/paper-input.html")
link(rel="import" href="/bower_components/paper-dialog/paper-dialog.html")
link(rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html")
link(rel="import" href="/bower_components/paper-menu/paper-menu.html")
link(rel="import" href="/bower_components/paper-item/paper-item.html")
link(rel="import" href="/bower_components/paper-spinner/paper-spinner.html")
link(rel="import" href="/bower_components/iron-icon/iron-icon.html")
link(rel="import" href="/bower_components/iron-icons/iron-icons.html")
link(rel="import" href="/bower_components/iron-pages/iron-pages.html")
link(rel="import" href="/bower_components/iron-pages/iron-pages.html")

link(rel="import", href="/src/bjs-app-db/bjs-app-db-query.html")
link(rel="import", href="/src/bjs-app/bjs-behaviors.html")

link(rel="import", href="/src/bjs-pagination/bjs-pagination.html")

link(rel="import", href="/src/views/behaviors/bjs-view-behaviors.html")
link(rel="import", href="/src/views/activities/bjs-activity-table.html")
link(rel="import", href="/src/views/activities/bjs-activity-detail.html")

link(rel="import", href="/src/shared-styles.html")

dom-module#bjs-activities
  template
    style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment")
    style(include="shared-styles").
      :host {
        display: block;
        padding: 10px;
      }

      .text-center{
        text-align: center;
      }
 
    iron-pages(
      selected='[[__loadMode]]',
      attr-for-selected='name',
      role='loading'
    )
      .layout.horizontal.center.center-justified.auth-container(name="loading", style="height: 90vh;")
        paper-spinner(active, alt="Loading organisations data...", style="width: 64px; height: 64px;")

      div(name="loaded")
        bjs-app-db-query(
          log-label="listing-activites",
          db="[[db]]",
          doc="[[db.activity]]",
          query="[[__activitiesQuery]]",
          num-results="{{__activitiesTotal}}",
          num-pages="{{__activitiesNumPages}}",
          page="[[__activitiesPage]]",
          find-all="{{__activities}}",
          find-all-unpaged="{{__activitiesUnpaged}}",
          sort-path="timestamp",
          sort-order="DESC",
          sort-type="date"
        )

        iron-pages(
          selected='[[__pageMode]]',
          attr-for-selected='name',
          role='loaded'
        )
          div(name="list")
            .layout.horizontal
              .card.flex.text-center
                h1 Interaction
                p [[__trackingInteractionCount]]
              .card.flex.text-center
                h1 Error
                p [[__trackingErrorCount]]
              .card.flex.text-center
                h1 Logging
                p [[__trackingLoggingCount]]

            bjs-activity-table(
              db="[[db]]",
              data="[[__activities]]",
              current-page="{{__activitiesPage}}",
              total-pages="[[__activitiesNumPages]]",
            )

          div(name="detail")
            h1 You Must Construct Additional Pylons!

  script(src="bjs-activities.js")
